{% extends "layout.html" %}
{%block content %}
   <h3>About Fruits</h3>
   <p>Fruits classification app (BuildID: #___)</p>
   <p>
       - This app classifies 7 fruits (apple, avocado, banana, cherry, mango, orange, peach)<br>
       - Trained fruit images from <a href="https://www.kaggle.com/moltean/fruits">https://www.kaggle.com/moltean/fruits</a>
   </p>
   <h3>API list</h3>
   <pre id="apipage">
curl -i -X GET https://_url_/api/diag
curl -i -X GET https://_url_/api/warm
curl -i -X POST -H "Content-Type: multipart/form-data" -F "file=@img.jpg" https://_url_/api/score

curl -i -X PUT -H "Content-Type: application/json" -d '{"modelfile": "fruits-05-0.0264.h5"}' https://_url_/api/update
curl -i -X POST -d '' https://_url_/api/upload</pre>
{% endblock %}
